<div>
<h2>Welcome {{User.name}} !</h2>
    <p>This is your custom plan to quit smoking over the next 90 days</p>
</div>

{{if QuitPlan.length}}
<div>

{{!-- canvas for graph below --}}
<canvas id='myChart'> 
    <div>
        <p>Cigarettes per week: {{howManyCigs}}</p>
        <p>Money spent per week: {{moneySpentPerWeek}}</p>
        <img src="data:image/png;base64, {{chart}}">
    </div>
</canvas>
{{!-- end canvas --}}

</div>
{{/if}}

<div>
{{!-- <h3>Remember You're Quiting!</h3>
    <p>I used to smoke {{QuitPlan.hoeManyCigs}} per day</p>
    <p>I gave up {{QuitPlan.timeSmoking}} a day to smoking</p>

</div> --}}




