{{log user}}
<div>
    <h2>Welcome {{name}} !</h2>

    {{#if quitPlan}}
    <p>This is your custom plan to quit smoking over the next 90 days</p>
    <div>
        <h1>{{name}}'s Quit Plan</h1>
        {{!-- the quitplan will be rendered here --}}
        <h2>Here are your weekly goals:</h2>
            {{!-- example --}}
            <p>No more than {{ weeklyCigs }} this week!</p>
        {{else}}
        <p>It looks like you haven't created a quit plan yet, please click the button below to begin!</p>
        <div class="form-group">
            <a href="/new-plan">
            <button type="submit" class="btn btn-primary">Create</button>
            </a>
        </div>
    </div>
    {{/if}}
</div>

<div>

    {{!-- canvas for graph below --}}
    <canvas id='myChart'>
        <div>
            <p>Cigarettes per week: {{howManyCigs}}</p>
            <p>Money spent per week: {{moneySpentPerWeek}}</p>
            <img src="data:image/png;base64, {{chart}}">
        </div>
    </canvas>
    {{!-- end canvas --}}

<div class="row mt-4">
    <div class="col-md-6">
        <h3>Please complete your daily form!</h3>

        <form class="form new-project-form">
            <div class="form-group">
                <label for="date">What is today's date?</label>
                <input class="form-input" type="date" id="date" name="date" />
            </div>
            <div class="form-group">
                <label for="howManyCigs">How many cigarettes did you smoke today?</label>
                <input class="form-input" type="number" id="howManyCigs" name="howManyCigs" />
            </div>
            <div class="form-group">
                <label for="cravings">Did you have any cravings today? If so, when?</label>
                <textarea class="form-input" id="cravings" name="cravings"></textarea>
            </div>
            <div class="form-group">
                <label for="mood">How was your mood today?</label>
                <textarea class="form-input" id="mood" name="mood"></textarea>
            </div>
             <div class="form-group">
                <label for="daysWithoutCigs">How many days have you gone without smoking??</label>
                <input class="form-input" type="number" id="daysWithoutCigs" name="daysWithoutCigs"></input>
            </div>
            <div class="form-group">
                <label for="journalEntry">Please enter a brief overview of how you felt today, or any other relevant details to your quitting journey.</label>
                <input class="form-input" type="text" id="journalEntry" name="journalEntry" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>

    {{!-- {{#if projects.length}}
    <div class="col-md-6 project-list">
        <h3>Current Projects:</h3>

        {{#each projects as |project|}}
        <div class="row mb-2">
            <div class="col-md-8">
                <h4><a href="/project/{{project.id}}">{{project.name}}</a></h4>
            </div>
            <div class="col-md-4">
                <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
            </div>
        </div>
        {{/each}}
    </div>
    {{/if}} --}}
</div>

<script src="./js/profile.js"></script>


<div>
    {{!-- <h3>Remember You're Quiting!</h3>
    <p>I used to smoke {{QuitPlan.howManyCigs}} per day</p>
    <p>I gave up {{QuitPlan.timeSmoking}} a day to smoking</p>

</div> --}}