{{log user}}
<div>
    <h2>Welcome {{capitalize name}} !</h2>

    {{#if quit_plan}}
    <p>This is your custom plan to quit smoking over the next 90 days</p>
    <div>
        <h1>{{capitalize name}}'s Quit Plan</h1>
        {{!-- the quitplan will be rendered --}}
        <h2>Schedule</h2>
        <p>As former smokers, we understand how difficult it can be to quit smoking. One of the most difficult aspects of quitting is the physical and emotional withdrawal that smokers experience when they stop using tobacco. While some smokers choose to quit "cold-turkey", it is much easier for many smokers to quit gradually over a period of time. Below we have created a quit schedule based on your reported tobacco usage that will allow you to taper off of cigarettes at a pace that works best for you.</p>
        {{!-- condition to see what option was selected when making quit plan --}}
        {{#if (isEqual quit_plan.howManyCigs "Less than 5 cigarettes per day")}}
        {{!-- render table here --}}
        <p>Less than 5</p>
        {{!-- repeat the same, else if there was another option, rinse and repeat --}}
        {{else if (isEqual quit_plan.howManyCigs "5-10 cigarettes per day")}}
        {{!-- render table here --}}
        <p>5-10</p>
        {{else if (isEqual quit_plan.howManyCigs "10-20 cigarettes per day")}}
        {{!-- render table here --}}
        <p>10-20</p>
        {{else if (isEqual quit_plan.howManyCigs "20 or more cigarettes daily")}}
        {{!-- render table here --}}
        <p>20+</p>
    
        {{/if}}
        <div class="schedule-container"></div>
    </div>
    {{else}}
    <p>You haven't created a quit plan yet. Please create one to start your journey to quit smoking.</p>
    <a href="/quitplan" class="button">Generate Your Custom Quit Plan</a>
    {{/if}}
</div>


<div>

    {{!-- canvas for graph below --}}
    <canvas id='myChart' style="max-width">
        <div>
            <p>Cigarettes per week: {{howManyCigs}}</p>
            <p>Money spent per week: {{moneySpentPerWeek}}</p>
            <img src="data:image/png;base64, {{chart}}">
        </div>
    </canvas>
    {{!-- end canvas --}}

<div class="row mt-4">
    <div class="col-md-6">
        <h3>Please complete your daily form!</h3>

        <form class="form new-project-form">
            <div class="form-group">
                <label for="date">What is today's date?</label>
                <input class="form-input" type="date" id="date" name="date" />
            </div>
            <div class="form-group">
                <label for="howManyCigs">How many cigarettes did you smoke today?</label>
                <input class="form-input" type="number" id="howManyCigs" name="howManyCigs" />
            </div>
            <div class="form-group">
                <label for="cravings">Did you have any cravings today? If so, when?</label>
                <textarea class="form-input" id="cravings" name="cravings"></textarea>
            </div>
            <div class="form-group">
                <label for="mood">How was your mood today?</label>
                <textarea class="form-input" id="mood" name="mood"></textarea>
            </div>
             <div class="form-group">
                <label for="daysWithoutCigs">How many days have you gone without smoking??</label>
                <input class="form-input" type="number" id="daysWithoutCigs" name="daysWithoutCigs"></input>
            </div>
            <div class="form-group">
                <label for="journalEntry">Please enter a brief overview of how you felt today, or any other relevant details to your quitting journey.</label>
                <input class="form-input" type="text" id="journalEntry" name="journalEntry" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>

    {{!-- {{#if projects.length}}
    <div class="col-md-6 project-list">
        <h3>Current Projects:</h3>

        {{#each projects as |project|}}
        <div class="row mb-2">
            <div class="col-md-8">
                <h4><a href="/project/{{project.id}}">{{project.name}}</a></h4>
            </div>
            <div class="col-md-4">
                <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
            </div>
        </div>
        {{/each}}
    </div>
    {{/if}} --}}
</div> 

<script src="./js/profile.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="./js/graph.js"></script>


{{!-- <h3>Remember You're Quiting!</h3>
<div>
    <p>I used to smoke {{QuitPlan.howManyCigs}} per day</p>
    <p>I gave up {{QuitPlan.timeSmoking}} a day to smoking</p>
</div>  --}}